header{
color:black
}

h1{
    color: black;
    font-size: 50px;
    font-weight: bold;
}

p{
  color: Black;
  font-size: 15px;
}

h2{
    color: Black;
    font-size: 40px;
    font-weight: bold;
  }

h3{
    color: black;
    font-size: 25px;
    font-style: italic;
  }

a {
  color: Black;
}

div {
  padding-right: 10px;
  padding-left: 10px;
}

.center {
  margin: 10px auto 20px;
  display: block;
}

.column {
  float: center;
  width: 33.33%;
  padding: 2px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  left: 0;
  bottom: 0;
  padding: 2px;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
}
