<html>
<head>
  <meta charset="utf-8">
  <title>My Page Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/ocfr.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta charset="utf-8">
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-white">
  <a class="navbar-brand" href="index.html">Homepage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="employee.html">Employee</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="certification.html">Certification<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="details.html">Certification Details</a>
      </li>
    </ul>
  </div>
</nav>
<p></p>
<img src="img/certification.PNG" alt="Brand" style="width:77%" align="center">
<p></p>

<div id="certificationApp">
  <form @submit.prevent="handleCreate">

    <div class="form-group row">
      <label for="inputName" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" placeholder="Certification Name" v-model="recordCertif.name">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputAgency" class="col-sm-2 col-form-label">Agency</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputAgency" placeholder="Agency" v-model="recordCertif.agency">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputDefaultExpiration" class="col-sm-2 col-form-label">Default Expiration</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputDefaultExpiration" placeholder="Years" v-model="recordCertif.defaultExpiration">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10" Align="center">
        <button type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>
  </form>
<!--
 <div class="filter">
    <select v-model="filter.sab">
      <option value="">(all)</option>
      <option>M</option>
      <option>F</option>
    </select>
  </div>
-->
  <table class="table table-sm table-dark" >
    <thead>
      <tr>
        <th>certId</th>
        <th>Name</th>
        <th>Agency</th>
        <th>Default Expiration</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="c in certifications" @click="handleRowClick(c)">
        <td>{{ c.certId }}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.agency }}</td>
        <td>{{ c.defaultExpiration }}</td>

        <td>
          <form @submit.prevent="handleDelete(c)">
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
        </td>

      </tr>
    </tbody>
  </table>

</div>
<br>

<hr>
<h3>Edit Certifications:</h3>
<br>
<div id="certifEditApp">
  <form @submit.prevent="handleEdit">

    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="editName" placeholder="Certification Name" v-model="certifData.name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="editAgency" placeholder="Agency" v-model="certifData.agency">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="editDefaultExpiration" placeholder="Years" v-model="certifData.defaultExpiration">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10" Align="center">
        <button type="submit" class="btn btn-primary" >EDIT</button>
      </div>
    </div>
  </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/certification.app.js"></script>
<script src="js/certifEditApp.app.js"></script>

</body>
<div class="footer">
  <p>Oconee County Fire Rescue | Phone : 859-123-4567 | 290 South Union Street Apartment #106, Bloomington, Indiana 47401</p>
</div>
</html>
