<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Employee Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/ocfr.css">
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta charset="utf-8">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-white">
  <a class="navbar-brand" href="index.html">Homepage</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="employee.html">Employee<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="certification.html">Certification</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="details.html">Certification Details</a>
      </li>
    </ul>
  </div>
</nav>


<p></p>
<img src="img/details.PNG" alt="Brand" style="width:77%">
<p></p>

<div id="detailsApp">
  <form @submit.prevent="handleCreate">

    <div class="form-group row">
      <label for="inputpersonId" class="col-sm-2 col-form-label">Employee ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputpersonId" placeholder="Employee ID" v-model="recordDetails.personId">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputcertId" class="col-sm-2 col-form-label">Certification ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputcerId" placeholder="Certification ID" v-model="recordDetails.certId">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputdataReceived" class="col-sm-2 col-form-label">Date Received</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="inputdataReceived" placeholder="Date Received" v-model="recordDetails.dateReceived">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputdateExpired" class="col-sm-2 col-form-label">Date Expired</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="inputdateExpired" placeholder="Date Expired" v-model="recordDetails.dateExpired">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10" Align="center">
        <button type="submit" class="btn btn-primary">ADD</button>
      </div>
    </div>
  </form>

<div class="filter">
  <select v-model="filter.defExp">
    <option value="">(all)</option>
    <option>in 9 months</option>
    <option>2</option>
  </select>
</div>
<table class="table table-sm table-dark" id="detailsApp" v-if="filter.isExp=='' || filter.isExp == d.displayExpireIn(d.dateExpired)">
  <thead>
    <tr>
              <th>Employee ID</th>
              <th>Certification ID</th>
              <th>Date Achieved</th>
              <th>Expiration Date</th>
              <th>Expired?</th>
              <th>Delete</th>
    </tr>
  </thead>
  <tbody>
        <tr v-for="d in details" @click="handleRowClick(d)">
              <td>{{ d.nameFirst }} {{d.nameLast}} </td>
              <td>{{ d.name }}</td>
              <td>{{ d.dateReceived }}</td>
              <td>{{ d.dateExpired }}</td>
              <td>{{ displayExpireIn(d.dateExpired) }}</td>
              <td>
                <form @submit.prevent="handleDelete(d)">
                  <button type="submit" class="btn btn-primary">Delete</button>
                </form>
              </td>
        </tr>
  </tbody>
  </table>
</div>

<h3>Add Certification Details:</h3>
<br>
<div id="detailsEditApp">
  <form @submit.prevent="handleEdit">

    <div class="form-group row">
      <div class="col-sm-10">
        <p>Employee Name</p>
        <input type="text" class="form-control" id="editName1" placeholder="Employee firstname" v-model="detailData.firstName">

        <input type="text" class="form-control" id="editName2" placeholder="Employee lastname" v-model="detailData.lastName">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <p>Certification Name</p>
        <input type="text" class="form-control" id="editAgency" placeholder="Certification name" v-model="detailData.name">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <p>Date Archived</p>
        <input type="date" class="form-control" id="editDefaultExpiration" placeholder="Date Achieved" v-model="detailData.dateReceived">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10">
        <p>Expiration Date</p>
        <input type="date" class="form-control" id="editDefaultExpiration" placeholder="Expiration Date" v-model="detailData.dateExpired">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-10" Align="center">
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/lib/moment.min.js"></script>
<script src="js/details.app.js"></script>
<script src="js/detailsEditApp.app.js"></script>

</body>
<div class="footer">
<p>Oconee County Fire Rescue Center | Phone : (812) 332-9763 | 300 East 4th Street, Bloomington, Indiana 47408</p>
</div>
</html>
